﻿body{
background-color:lightblue;
background-image: url(grafiki/troll.png);
}
table {
    border: 1px solid black;
}
p{
    font-family:Consolas;
}
.calc {
    width:500px;
    height:500px;
    position:center;
    background-image:url("http://image.shutterstock.com/z/stock-photo-metal-teksture-38502706.jpg");
}